extends ../0_base/template

block title
	title Страна: Россия

block content
	main
		.wrapper
			.content-block.place-info
				h1.like-h1.block-title Россия

				.js-shorted-block.about-place-country#about-place-text
					p Столица России - город Москва.  Российская Федерация находится на востоке Европы и в Северной Азии. России принадлежит первая позиция в мире по территории 17 125 191 км².
					p В состав Российской Федерации вошли 85 субъектов: края, области, города федерального значения, автономные области и округа), и примерно 157 тысяч населённых пунктов. У России есть границы с 20 странами, это наибольшее мировое значение.
					img(src="media/img-p/russia.png")
					h2    Время
					p    В октябре 2014 года в России было установлено 11 часовых зон. Переход на летнее время в стране был отменён в 2011 году.
					h2    Население
					p    По данным 2018 года население России 146 877 088 человек. Россия - полиэтническое государство,в стране проживает 7 народов с численностью населения более одного миллиона человек: русские, татары, украинцы, башкиры, чуваши, чеченцы и армяне.
					h2    Климат
					p    Климат на территории страны отчетливо поделен на холодный и тёплый сезоны и серьезные перепады температур. Среднегодовая температура воздуха в РФ равна −5.5 °С. В отдельных регионах страны разница температуры равна 36 градусов (от −23 до +13). Холодный абсолютный максимум температуры равняется +8.7 °С на острове Визе, тёплый абсолютный минимум  −13.4 °С в Сочи.
					h2    Визовый режим
					p    Граждане 106 стран могут заезжать в Россию без визы, жители 36 стран визу получают в упрощенном режиме, с 40 странами идут переговоры по упрощению формальностей. В Россию можно заехать с разными визами: обыкновенной; дипломатической; служебной; транзитной и временной.

				a(href="#about-place-text").js-unshort-block.js-toggle-text свернуть

		.tab-slider
			.tab-slider_header.wrapper
				.tab-slider_cat-marker
					img(src="media/img/i-mappoint_big.png", alt="")
				span.tab-slider_cat-title Города


			.tab-slider_content.wrapper.columns-grid._2-cols
				.col._4-4

					.tab-slider_item

						.items-grid._4-in-row._at-tab-slider.full-width-lines
							-
								cities = [
									{"А": ["Абакан", "Анапа", "Астрахань"]},
									{"Б": ["Балклава", "Балтийск", "Барнаул", "Бахчисарай", "Белгород", "Белореченск"]},
									{"В": ["Владивосток", "Владимир", "Волгоград", "Выборг"]},
									{"Г":["Гвардейск", "Геленджик", "Горно-Алтайск", "Городец", "Грозный"]},
									{"Д":["Дзержинск"]},
									{"Е":["Евпатория", "Екатеринбург", "Ессентуки"]},
									{"Ж":["Железноводск"]},
									{"З":["Зелендоградск"]},
									{"И":["Иноземцево", "Ирбит", "Иркутск"]},
									{"К":["Казань", "Калининград", "Керчь", "Киров", "Кисловодск", "Коктебель"]},
									{"Л":["Ливадия", "Ломоносов", ]},
									{"М":["Минеральные воды", "Москва", "Муром"]},
									{"Н":["Нижний Новгород", "Новосибирск", ]},
									{"П":["Павловск", "Пермь", ]},
									{"Р":["Ростов Великий", "Ростов-на-Дону", ]},
									{"С":["Самара", "Санкт-Петербург", "Светлогорск", "Севастополь"]}
								];


							ul.country__city-list
								each val, index in cities
									each cit, lit in val
										ul
											li=lit
											each city in cit
												li
													a(href="#")=city


								-
									var AllCities = [
										{"A": ["Азнакаево", "Азов", "Алатырь", "Александров", "Александровское", "Алексеевка", "Алексеевское", "Аткарск", "Ахтубинск", "Ачинск"]},
										{"Б": ["Балаково", "Балашиха", "Балашов", "Барнаул", "Белгород", "Белебей", "Белорецк", "Белореченск", "Бердск", "Березники", "Берёзовский", "Бирск", "Благовещенск", "Богородицк", "Богородск", "Большая Елань"]},
										{"В": ["Валуйки", "Великий Новгород", "Верхняя Пышма", "Верхняя Салда", "Видное", "Вичуга", "Владикавказ", "Владимир", "Волгоград", "Волгодонск"]},
										{"Г": ["Гатчина", "Геленджик", "Георгиевск", "Головинщино", "Городец" , "Гатчина", "Геленджик"]},
										{"Д": ["Давлеканово", "Дзержинск", "Дивеево", "Димитровград", "Дмитров", "Долгопрудный", "Домодедово"]},
										{"Е": ["Егорьевск", "Ейск", "Екатеринбург", "Елабуга", "Елец", "Ессентуки", "Ефремов"]},
										{"Ж": ["Железноводск", "Железногорск", "Железнодорожный", "Жигулевск", "Жирновск", "Жуковский"]},
										{"З": ["Заволжье", "Закамск", "Засечное", "Зеленогорск", "Зеленоград", "Зеленодольск"]},
										{"И": ["Иваново", "Ивантеевка", "Ижевск", "Изобильный", "Иловля", "Иноземцево", "Ипатово", "Ишимбай"]},
										{"К": ["Калач-на-Дону", "Калуга", "Каменка", "Каменск-Уральский", "Каменск-Шахтинский", "Камышин", "Канаш", "Каневская", "Канск", "Кемерово", "Кинель", "Кинешма", "Кириши", "Киров", "Кирово-Чепецк", "Кисловодск", "Клин", "Ковров", "Коломна", "Колпино", "Колышлей", "Константиновка"]},
										{"Л": ["Ленинградская", "Лениногорск", "Ленинск", "Ленинск Кузнецкий", "Лермонтов", "Липецк", "Лиски", "Лобня", "Лысково", "Лысьва", "Люберцы"]},
										{"М": ["Магнитогорск", "Майкоп", "Маркс", "Махалино", "Мелеуз", "Михайловск", "Можга", "Моршанск", "Москва", "Муром"]},
										{"Н": ["Набережные Челны", "Нижний Новгород", "Новоаннинский", "Нововоронеж", "Новокуйбышевск", "Новомосковск", "Новороссийск", "Новосибирск", "Новоуральск", "Новочебоксарск", "Новочеркасск", "Новошахтинск", "Новый Рогачик", "Ногинск"]},
										{"О": ["Обнинск", "Одинцово", "Озёрск", "Октябрьский", "Омск", "Орел", "Оренбург", "Орехово-Зуево", "Орск", "Отрадный"]},
										{"П": ["Павловская", "Павловский", "Посад", "Палласовка", "Пенза", "Первоуральск", "Пермь", "Петергоф", "Петровск", "Плавск", "Подгорное", "Подольск", "Похвистнево", "Приволжск", "Приморско-Ахтарск", "Псков", "Пугачев", "Пушкин", "Пушкино"]},
										{"Р": ["Раевский", "Раменское", "Рамзай", "Реутов", "Родники", "Россошь", "Ростов-на-Дону", "Ростов Ярославский", "Ртищево", "Рузаевка", "Рыбинск", "Рязань"]},
										{"С": ["Саров", "Сатка", "Светлоград", "Светлый Яр", "Сергиев Посад", "Сердобск", "Серов", "Серпухов", "Сибай", "Славянск-на-Кубани", "Слободской", "Снежинск", "Соликамск", "Солнечногорск", "Сосновый Бор"  ]},
										{"Т": ["Тейково", "Темрюк", "Тимашевск", "Тихорецк", "Толбазы", "Тольятти", "Торжок", "Тосно", "Троицк", "Туапсе", "Туймазы", "Тула", "Тутаев"]},
										{"У": ["Углич", "Ульяновск", "Урюпинск", "Усть-Лабинск", "Уфа", "Учалы" ]},
										{"Ч": ["Чаадаевка", "Чайковский", "Чапаевск", "Чебаркуль", "Чебоксары", "Челябинск", "Черепаново", "Череповец", "Черкесск", "Чехов", "Чистополь", "Чишмы", "Чкаловск", "Чусовой" ]},
										{"Ш": ["Шахты", "Шумерля", "Шуя" ]},
										{"Э": ["Электросталь", "Элиста", "Энгельс" ]},
										{"Я": ["Ялуторовск", "Ярославль" ]}
									];
							.country__all-city-list
								ul.js-shorted-block#all-list-cities
									each val, index in AllCities
										each cit, lit in val
											ul.cities_row
												li.city_litera=lit
												ul.cities_row-elements
													each city, ind in cit
														li
															if ind < cit.length - 1
																a(href="#")=city + ", "
															else
																a(href="#")=city
								a(href="#all-list-cities").js-unshort-block.js-toggle-text свернуть

		.tab-slider
			.tab-slider_header.wrapper
				.tab-slider_cat-marker
					img(src="media/img/groupe-icon-1_big.png", alt="")
				span.tab-slider_cat-title Для туристов

			.row._grey
				.wrapper
					// add to tabs .js-tabs class and carousel will be work
					.tabs
						a(href="#tourist-slide-1").item._is-active Гиды
						a(href="#tourist-slide-2").item Туры
						a(href="#tourist-slide-3").item Экскурсии
						a(href="#tourist-slide-4").item Турфирмы
						a(href="#tourist-slide-5").item Рассказы
						a(href="#tourist-slide-6").item Справочник
						a(href="#tourist-slide-7").item Визы

			.tab-slider_content.wrapper.columns-grid._2-cols
				.col._4-4

					.tab-slider_item#tourist-slide-1-off

						.items-grid._4-in-row._at-tab-slider
							.items-grid_item
								.ads-container
									.ads
							.items-grid_item: +cardPerson()
							.items-grid_item: +cardPerson()
							.items-grid_item: +cardPerson()

						a(href="all-items_guides.html").link.to-all все гиды

					.ads-container
						.ads._728x92

					.tab-slider_item#tourist-slide-2-off

						.items-grid._4-in-row._at-tab-slider
							.items-grid_item
								.ads-container
									.ads
							.items-grid_item: +cardTour()
							.items-grid_item: +cardTour()
							.items-grid_item: +cardTour()

						a(href="#").link.to-all все туры
					.tab-slider_item#tourist-slide-3-off

						.items-grid._4-in-row._at-tab-slider
							.items-grid_item: +cardExcurs(true)
							.items-grid_item: +cardExcurs()
							.items-grid_item: +cardExcurs()
							.items-grid_item: +cardExcurs(true)

						a(href="all-items_excurs.html").link.to-all все экскурсии
